{% macro show_links(user) %}

<ul class="nav navbar-nav">
    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
    {% if not user.name %}
    <li><a href="{{ url_for('login')}}">Login</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
    {% if user.name and user.admin==0 and user.expert==0 %}
    <li><a href="{{ url_for('ask') }}">Ask Question</a></li>
    {% endif %}
    {% if user.name and user.expert==1 %}
    <li><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
    {% endif %}
    {% if user.name and user.admin==1 %}
    <li><a href="{{ url_for('users') }}">User Setup</a></li>
    {% endif %}
    {% if user.name %}
    <li><a href="{{ url_for('logout')}}">Logout</a></li>
    {% endif %}
  </ul>

{% endmacro %}