{% from "show_links.html" import show_links %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Users</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    
    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Questions & Answers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{ show_links(user) }}
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Users</h1>
        <h6>Click to promote to expert</h6>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="list-group">
          {% for x in users %}
          <br>
            <a href="{{ url_for('promote',user_id=x.id) }}" class="list-group-item active">
              <h4 class="list-group-item-heading">{{ x.name }} 
              {% if x.expert==1 %}
                -Expert
                {% endif %}
                {% if x.admin==1 %}
                -Admin
                {% endif %}
              </h4>
            </a>
            {% endfor %}
          </div>
        </div><!-- /.col-lg-12 -->
      </div>

    </div> <!-- /container -->

  </body>
</html>
